@{
    ViewData["Title"] = "Home Page";
    if (ViewBag.User == null)
    {
        Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    }    
}

<div >
	<h4 style="text-align: left;">О проекте</h4>
	<label style="text-align: left;">
		Вас приветствует команда NotImplementedExeption (чтобы не ломать язык и не сойти с ума, можно просто NIE:) )
		Мы представляем Вам проект платформы «Траектория» - платформа по обучению и найму новых амбициозных сотрудников.
	</label>
	<h4 style="text-align: left;">Цели</h4>
	<label style="text-align: left;">
		Создать платформу, которая бы помогла работадателям и молодым специалистам найти друг друга в креативной манере
	</label>
	<h4 style="text-align: left;">О нас</h4>
	<label style="text-align: left;">
		Мы - команда из четырех разработчиков, которые вместе способны создавать самые неожиданные и интересные проекты. Каждый из нас имеет свой уникальный взгляд на мир разработки и безграничную энергию для реализации своих идей. Мы словно четыре пазла, которые вместе создают грандиозный и красивый образ. Мы яркие и необычные личности, которые могут убедить вас в том, что разработка это не просто работа, а искусство. Если вам нужны нестандартные и инновационные решения, то команда NotImplementedExeption - ваш выбор. Вместе мы создаем проекты, идеи которых сегодня кажутся невозможными, но уже завтра будут с Вами.<br/>
		© Команда NotImplementedException:<br/>
		Ершов Даниил Игоревич – TeamLead демоверсия<br />
		Фролов Фёдор Александрович – TechLead демоверсия<br />
		Генке Сергей Викторович – Project Manager демоверсия<br />
		Сарбуков Леонид Русланович – Senior Backend Developer демоверсия<br />
		Все права, к сожалению, не защищены.<br />
		P.S. Но если что, мы обидимся :(<br />
	</label>
</div>
